@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@400;800&display=swap');

body {
    margin: 0;
    font-family: Inter;
    background: #1C1C1C;
    color: white;

}

h1, h3, div, button, p, input {
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto 50px;
    padding: 52px 52px;
    background: #1F2937;
}

h1 {
    font-family: Karla, Inter, sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.025em;
    text-align: left;
    max-width: 354px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #D5D4D8;
    margin-bottom: 20px;
}

.highlight {
    color: #4ADF86;
}

.settings {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
    margin-bottom: 35px;
}

.settings-length {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* gap: 16px; */
}

.settings-length * {
    flex: 1 1 auto;
}

.settings-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.btn-settings {
    flex: 1 1 auto;
    color: #718198;
    padding: 4px 12px;
    border-radius: 6px;
    background: transparent;
    border: 1px solid #718198;
}

.btn-settings.active {
    border: 1px solid #10B981;
    color: #10B981;
}

.btn-generate {
    padding: 9px 16px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    background: #10B981;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border: none;
    margin-bottom: 35px;
    display: block;
    width: 100%;
}

.description {
    border-bottom: 1px solid #2F3E53;
    margin-bottom: 35px;
}

.generated-passwords {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.password-field {
    flex: 1 0 auto;
    width: 211px;
    background: #273549;
    min-height: 39px;
    border-radius: 6px;
    color: #55F991;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    border: 1px solid #273549;
}

label {
    color: #D5D4D8;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem; /* 175% */
    margin-right: 16px;
}

input {
    background: #273549;
    border: none;
    border-radius: 6px;
    color: white;
    width: 75px;
    height: 39px;
    text-align: center;
}

input::placeholder {
    color: rgba(213, 212, 216, 0.30);
}
